[Unit]
Description=GvOS Startup Sound
After=sound.target
Wants=sound.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'source /usr/share/sounds/sound-events.sh && system_startup'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target graphical.target
